@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: OpenSans, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #03a9f4;
  box-shadow: 0 10px 20px lightgrey;
  padding: 10px 0;
  font-size: 2em;
  color: white;
}

.header span {
  display: none;
  cursor: default;
  user-select: none;
  -moz-user-select: none;
}

.header img {
  height: 60px;
  cursor: pointer;
}

.content {
  min-height: 100vh;
  padding: 90px 0 60px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: default;
  color: lightgrey;
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.loading::after,
.loading::before {
  opacity: 1;
  content: "";
  border: 10px solid;
  border-radius: 50%;
  height: 4em;
  width: 4em;
  position: absolute;
  top: 25%;
  left: calc(50% - 2em);
  transition: opacity 300ms;
}

.loading::before {
  border-color: #03a9f478;
}

.loading::after {
  border-color: #03a9f4 transparent transparent transparent;
  animation: loading 1s linear infinite;
}

.articles-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-around;
  justify-items: center;
  animation: fadein 0.25s;
}

.article {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 275px;
  margin: 1em;
  border: 1px solid lightgrey;
  border-radius: 3px;
  box-shadow: 0 0 5px lightgrey;
  cursor: pointer;
  transition: box-shadow 250ms;
}

.article:hover {
  box-shadow: 0 0 5px grey;
}

.article--header,
.article--body,
.article--footer {
  padding: 1em;
  user-select: none;
}

.article--header {
  border-bottom: 1px solid lightgrey;
  font-size: large;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.article--footer {
  margin-top: auto;
  text-align: right;
  color: grey;
  font-size: 0.75em;
}

.article-details {
  padding: 0 1em;
  animation: fadein 0.25s;
}

.article-details--header {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  border-bottom: 1px solid lightgrey;
  color: #333;
}

.article-details--header .title {
  font-size: 2em;
}

.article-details--header author {
  font-size: 0.75em;
  color: grey;
}

.article-details--body {
  padding-bottom: 1em;
  white-space: pre-line;
}

.tag {
  display: inline-block;
  position: relative;
  height: 30px;
  padding-right: 10px;
  padding-left: 30px;
  margin: 3px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 25px;
  background-color: #eee;
  cursor: default;
  pointer-events: none;
}

.tag--times {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ddd;
  color: #999;
  transition: background-color 250ms;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  pointer-events: all;
}

.tag--times:hover {
  background-color: #ccc;
}

@media (min-width: 768px) {
  .header {
    justify-content: flex-start;
    padding: 10px 2em;
  }

  .header span {
    display: block;
    line-height: 80%;
  }

  .content {
    max-width: 900px;
    margin: 0 auto;
  }
}
